body{
  background-color: black;
  height: 207vh;
}


.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: #e4e0e0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #191919;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #393939;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;

}



