<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Vuelve el Split de verano de Superliga</h1>
    <div>
      <p>
        La Superliga de League of Legends es la competición de videojuegos más importante de España, donde los mejores equipos del país se enfrentan entre ellos. Este año nos representaran 6 equipos españoles en el EMEA master ("liga europea").
        La superliga siempre viene cargada de sorpresas que no te dejaran indiferente y este split no será menos. La superliga empezó el 22 de Abril y esto son los resultados actuales. 
      </p>
      <app-clasificacion></app-clasificacion>
    </div>
  </div>
  <div class="container">
    <h1>Vuelve la LEC, la maxima competicion europea de League Of Legends</h1>
    <div>
      <p>
       La LEC, es la maxima competicion europea en la que todos los equipos desearian competir en sus respectivas regiones en nuestro caso es la LEC en Norte America es la LCS. 
       La LEC es una competicion muy importante ya que los equipos que compiten en ella tienen la oportunidad de clasificarse para el mundial de League Of Legends donde lo ven millones de personas en todo el mundo.
       Los equipos tendran que sumar puntos para el LEC SUMMER FINALS que es la clasificacion para el mundial, tan solo 3 equipos de nuestra region podran luchar por la ansiada copa mundial y convertirte en leyenda. La fiesta empezará el 8 de Junio.
      </p>
      <app-clasificacion-lec></app-clasificacion-lec>
    </div>
  </div>
</body>
</html>