<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="clarity">
            <h1>TENSIÓN ENTRE <span class="españa">ESPAÑA</span> Y <span class="argentina">ARGENTINA</span></h1>
        </div>
    </header>

    <main>
        <div class="information">
            <h2>¿Quieres leer y saber más de la actualidad?</h2>
            <p>Tan solo tienes que darle al boton que dice ENTRAR y disfrutar de las noticias!</p>
            <div class="buttons">
                <button routerLink="/inicio">ENTRAR</button>
            </div>
        </div>
    </main>
</body>
</html>
